@{ 
    Layout = "~/Views/Shared/_ActivityLayout.cshtml";
}

<h3 style="text-align:center; margin: 0 auto;">
    <img src="~/Content/Images/logo.png" alt="南通维特牧思" style="width: 30%"/>
    <br />
    <img src="~/Content/Images/Icon/yanhua.png" style="height: 20px; " /> 蒙台梭利 · 宝宝运动会 <img src="~/Content/Images/Icon/yanhua_reverse.png" style="height: 20px; " />
</h3>

<p style="text-align: center; color: #28a745">
    主题：“欢乐运动，健康成长”
<p>

<h4 style="margin-bottom: 10px;">
    1. 活动调性
</h4>
<p style="margin-top: 2px;">
    温馨、健康、欢乐
</p>

<h4 style="margin-bottom: 10px;">
    2. 活动日期
</h4>
<p style="margin-top: 2px; ">
    2017年9月2日(周六) 下午 3点半
</p>

<h4 style="margin-bottom: 10px;">
    3. 活动场地
</h4>
<p style="margin-top: 2px;">
    星光耀广场5号楼1层 南门
</p>

<h4 style="margin-bottom: 10px;">
    4. 活动形式
</h4>
<p style="margin-top: 2px;">
    宝宝运动会 + 免费饮品 + 礼品派发 + 现场咨询
</p>

<h4 style="margin-bottom: 10px;">
    5. 活动内容
</h4>
<p style="margin-top: 2px;">
    1阶段宝宝0-6个月: <b style="color: #d9534f">宝宝乐翻天</b><br />
    2阶段宝宝6-18个月: <b style="color: #d9534f">宝宝开心爬</b><br />
    3阶段宝宝18个月以上: <b style="color: #d9534f">亲亲彩虹伞</b>
</p>

<h4 style="margin-bottom: 10px;">
    6. 活动奖励
</h4>
<p style="margin-top: 2px;">
    每组设置冠军、亚军、季军，各一名；
</p>

<ul data-role="listview" data-inset="true">
    <li><img src="~/Content/Images/Activity/golden.bmp" alt="冠军" class="ui-li-icon ui-corner-none">冠军：<br />课程包8节（价值<b style="color: #dc3545">1200</b>元）<br />+ 早教读物系列册（价值178元）<br />+ Huggies好奇铂金装纸尿裤（价值100元）<br />+ 泡泡棒（价值5元）<br />+ 湿纸巾1包（价值5元）</li>
    <li><img src="~/Content/Images/Activity/silver.bmp" alt="亚军" class="ui-li-icon">亚军：<br />课程包5节（价值<b style="color: #dc3545">750</b>元）<br />+ 早教读物系列册（价值178元）<br />+ Huggies好奇金装纸尿裤（价值70元）<br />+ 泡泡棒（价值5元）<br />+ 湿纸巾1包（价值5元）</li>
    <li><img src="~/Content/Images/Activity/bronze.bmp" alt="季军" class="ui-li-icon">季军：<br />课程包3节（价值<b style="color: #dc3545">450</b>元）<br />+ 早教读物系列册（价值178元）<br />+ Huggies好奇银装纸尿裤（价值40元）<br />+ 泡泡棒（价值5元）<br />+ 湿纸巾1包（价值5元）</li>
    <li><img src="~/Content/Images/Activity/joiner.bmp" alt="纪念奖" class="ui-li-icon">纪念奖：<br />课程1节（价值<b style="color: #dc3545">150</b>元）<br />+ 早教读物系列册（价值178元）<br />+ 泡泡棒（价值5元）<br />+ 湿纸巾1包（价值5元）</li>
</ul>

<p style="margin-top: 2px; color: #dc3545">
    * 运动会过程中更穿插有抽奖活动，惊喜礼品送不停！
</p>

<h4 style="margin-bottom: 10px;">
    7. 报名方式
</h4>
<p style="margin-top: 2px;">
    扫描下方二维码，关注公众号，直接回复 <b>运动会 + 宝宝姓名 + 月龄 + 性别</b> 即可完成报名哦！
</p>

<img style="margin-left: 15%; width: 70%" src="~/Content/Images/wechat_qrcode.jpg" alt="wechat_qrcode" />

<p style="color: #999999">阅读 @ViewBag.ReadingCount &nbsp;&nbsp;&nbsp;&nbsp;报名 @ViewBag.RegisterCount</p>