@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; margin: 0 auto;">
    <img src="~/Content/Images/Icon/yanhua.png" style="height: 25px; " /> 维特牧思 进驻南通 <img src="~/Content/Images/Icon/yanhua_reverse.png" style="height: 25px; " />
</h2>

<p>
    上市教育品牌、央视专题报道的国内蒙氏教育先践者--维特牧思·蒙特梭利儿童之家，2017正式进驻南通！
</p>
<br />
<h4 style="text-align:center; margin: 0 auto;">
    微官网，宝宝个人信息页即将上线，敬请期待
</h4>
<br /><br />
<img  style="margin-left: 15%; width: 70%" src="~/Content/Images/wechat_qrcode.jpg" alt="wechat_qrcode"/>

<p style="text-align:center; margin: 0 auto; font-size: 12px; color: #333">
    识别图中二维码即可关注我们的公众号
</p>