
@{
    ViewBag.Title = "MyPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h4 style="text-align:center; margin: 0 auto;">
    宝宝个人信息页即将上线，敬请期待
</h4>
<br />
<img style="margin-left: 15%; width: 70%" src="~/Content/Images/wechat_qrcode.jpg" alt="wechat_qrcode" />

<p style="text-align:center; margin: 0 auto; font-size: 12px; color: #333">
    识别图中二维码即可关注我们的公众号
</p>