
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 style="text-align:center; margin: 0 auto">我们已经收到您的申请</h2>
<br /><br />
<p style="text-align: center; margin: 0 auto">我们的专属课程顾问会尽快与您联系</p>
<br /><br />
<div style="width: 100%; text-align: center">
    <a href="/" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" target="_self"><< 返回首页</a>
</div>